---
layout: markdown_page
title: "CodeShip"
---
<!-- This is the template for defining sections which will be included in a tool comparison page. This .md file is included in the top of the page and a table of feature comparisons is added directly below it. This template provides the sections which can be included, and the order to include them. If a section has no content yet then leave it out. Leave this note in tact so that others can see where new sections should be added.

## Summary
   - minimal requirement <-- comment. delete this line
## Strengths
## Weaknesses
## Who buys and why
## Comments/Anecdotes
   - possible customer issues with product  <-- comment. delete this line
   - sample benefits and success stories  <-- comment. delete this line
   - date, source, insight  <-- comment. delete this line
## Resources
   - links to communities, etc  <-- comment. delete this line
   - bulleted list  <-- comment. delete this line
## FAQs
 - about the product  <-- comment. delete this line
## Integrations
## Pricing
   - summary, links to tool website  <-- comment. delete this line
### Value/ROI
   - link to ROI calc?  <-- comment. delete this line
## Questions to ask
   - positioning questions, traps, etc.  <-- comment. delete this line
## Comparison
   - features comparison table will follow this <-- comment. delete this line

<!------------------Begin page additions below this line ------------------ -->

## On this page
{:.no_toc}

- TOC
{:toc}

## Overview

<div class="sdlc-component-container">
  <%# <%= partial("includes/sdlc_comparison_tabs_vue_temp", :locals => { :source => "cloudbees_jenkins_electric_cloud" }) %>
</div>


## Summary
CodeShip is a continuous integration solution that lets you get your builds setup and working in just a few minutes with a simple UI and a turnkey environment. From there, you can grow your projects over time to use more sophisticated workflows and setups.

On February 6, 2018 CodeShip was acquired by Cloudbees.


## Response to the CodeShip Comparison Blog Post

CodeShip from Cloudbees created a web page that compared [CodeShip Pro to GitLab CI](https://cms.codeship.com/compare/codeship-pro-vs-gitlab-ci?utm_source=AdWords&utm_medium=GitLab&utm_campaign=Competitor&utm_content=insegment-ad&gclid=EAIaIQobChMIsLPHhKe54QIVRCaGCh1hqQx4EAMYASAAEgK0k_D_BwE). Our goal is to ensure that the comparison information is as accurate as possible.  Below is a list of the items from the CodeShip comparison that were incorrect and  GitLab's true capabilities in these areas.

* Complete control over your build environment - This 100% applies to GitLab. GitLab also has a built-in container registry.
* Dedicated & Flexible Build Machines - GitLab’s runner architecture lets you run on whatever machines you want. In fact Gitlab can auto-scale.
* Parallel Testing - This is a core capability of GitLab. For more on this, see our [Ticketmaster Case Study](https://about.gitlab.com/blog/2017/06/07/continous-integration-ticketmaster/).
* Debugging via SSH Access - GitLab has this capability
* Pre-configured Deployments - GitLab has this capability with our [Auto DevOps](https://about.gitlab.com/stages-devops-lifecycle/auto-devops/) feature. Auto DevOps simplifies and accelerates delivery with a complete delivery pipeline out of the box. Simply commit code and GitLab does the rest.

## Resources
* [CodeShip Website](https://codeship.com/)

## Pricing
- [CodeShip Pricing](https://codeship.com/pricing)
  * All Codeship users get unlimited users, teams and projects
  * You can use up to 100 builds per month for free, with unlimited projects and unlimited team members.
  * You can pay for more concurrent builds and more parallel pipelines, or larger instance sizes
