<section
  class="slpEventList slp-commit-grid slp-relative slp-mb-64 md:slp-mb-160"
>
  <div class="slp-col-span-full md:slp-col-span-5">
    <div class="slp-col-span-full slp-relative">
      <div class="slp-max-w-prose">
        <%= partial "includes/cms/event/slp-heading", locals: { heading: block_list.subheading, icon: block_list.icon  }  %>
      </div>
    </div>
    <p
      class="slp-font-normal slp-text-grayscale-333 slp-text-xl slp-mb-8 slp-leading-tight slp-max-w-3xl"
    >
      <%= block_list.subheading %>
    </p>
    <p
      class="slp-font-normal slp-text-grayscale-333 slp-text-base slp-leading-normal slp-max-w-3xl slp-mb-32"
    >
      <%= block_list.body %>
    </p>
    <% if block_list.ctaText %>
      <a href="<%= block_list.ctaLink %>" class="sm:slp-min-w-min slp-btn slp-btn--secondary">
        <%= block_list.ctaText %>
      </a>
    <% end %>
  </div>
  

  <div class="slp-col-span-full md:slp-col-span-5">
    <hr class="slp-border-t slp-border-grayscale-c3 slp-col-span-full slp-mb-24">
    <% block_list.items.each do | item | %>
      <div class="">
        <!-- icons pulled from data file, defaults to checkmark if undefined -->
        <span class="slp-text-brand-purple">
          <% if item.icon %>
            <%= inline_svg "#{item.icon}", class: "slp-inline slp-align-baseline slp-mr-12" %>
          <% else %>
            <%= inline_svg "/icons/slp-checkmark.svg", class: "slp-inline slp-align-baseline slp-mr-12" %>
          <% end %> 
        </span>        
        <span class="slp-font-normal slp-text-grayscale-333 slp-text-md slp-text-ui-secondary-light">
          <%= item.text %>   
        </span>
        <hr class="slp-border-t slp-border-grayscale-c3 slp-col-span-full slp-mt-24 slp-mb-24">
      </div>
    <% end %>
  </div>
</section>